canvas {
    animation-name: Shadows;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes Shadows {
    from{
        box-shadow: 1px 1px 38px yellow;
    }
    to{
        box-shadow: 1px 1px 38px red;
    }
}
#snapshot {
    font-size: 22px;
}
#snapshot:hover {
background-color: red;
}
.btn-info {
    font-size: 30px;
}